<div class="jumbotron">
  <h1>Welcome to ESPN!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="/login" role="button">Learn more</a></p>
</div>

<h1> Login Page</h1> 

<% if current_user %>
				Logged in as <%= current_user.firstname + ' ' + current_user.lastname %> | <%= link_to "Logout", :logout %>
			<% else %>
				<%= link_to "Login", :login %> | <%= link_to "SignUp", :signup %>
<% end %>