@import "bootstrap-sprockets"; 
@import "bootstrap";

body {
	font-family: 'Paytone One', sans-serif;
   background-color: rgb(225,207,194);
   margin: 0; 
   padding: 0;
   height: 100%;   
}

.container-fluid {
   position: relative; 
}

.footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 30px;   /* Height of the footer */
    background:#6cf;

}

.col-md-2 {
   background-color: rgb(243,243,239);
   height: 600px;
   color: #5bc0de; 
   color: rgb(237,107,150); 
   text-align: center;
   font-size: 35px;

 }

 // .footer {
 //   background: black; 
 //   position: absolute; 
 //   bottom: 0; 
 //   width: 100%; 
 //   height: 60px; 

 // }

.col-md-10 {
   background-color: rgb(225,207,194);  
   height: 600px; 
   box-shadow: -3px 0px 10px #888888; 
}

.navbar-default {
   background-color: rgb(30,9,3); 
}

.floatright {
   float: right; 
}

.jumbotron {
   background-color: rgb(253,245,214);
   height: 510px; 
}

.pos_fixed {
   position: fixed; 
   font-size: 18px;
}

th {
   font-style: bold;
}

.indexfont {
   font-size: 80px; 
}

.floatright {
   float: right; 
}

span {
   color: rgb(237,107,150); 
}

.table-bordered {
   color: black; 
}

.form-control {
	width: 200px
}

small {
   float: right; 
   margin: 5px; 
   font-family: arial; 
   font-size: 11px;
   font-weight: bold; 
   position: relative;
   bottom: 20px;
   color: rgb(121,22,62); 
   bottom: 45px;    
}

#loginready {
    color: rgb(121,22,62);   
}

.headline {
   color: black; 
}

.logincomment {
   font-size: 30px; 
   float: right; 
   right: 20px; 
   color: rgb(121,22,62); 
}

.shoutoutright {
   float: right; 
   position: relative;
   bottom: 450px; 
   right: 200px;
   color: rgb(121,22,62); 
   text-align: right;
}

hr {
   clear: both;
}

textarea.form-control.comment {
   height: 150px;
   width: 260px;  
}

textarea.form-control.wide-comment {
   width: 450px; 
}

.signuppix {
   position: relative; 
   float: right; 
   left: 60px;
   bottom: 250px;
}

.signupshout {
   position: relative;
   font-size: 30px;
   color: rgb(121,22,62); 
   bottom: 70px; 
   left: 330px; 
}

h4 {
   text-align: center; 
}

.comments {
   text-align: left; 
   font-size: 30px; 
   font-weight: bold;
   color: rgb(121,22,62);
}

th {
   font-family: arial; 
   color: white; 
   font-size: 15px; 
   font-weight: bold; 
   background-color: rgb(121,22,62);
   border: 1px solid red; 
}

tr {
   color: black; 
}

td {
   color: black; 
   font-family: arial;
   font-size: 15px; 
   font-weight: bold;

}

.table-hover {
  color: black; 
  border: 1.5px solid black;
}

table {
   border: 3px solid black; 
}

.backgright {
   float: right; 
}

.picturetag {
   width: 750px; 
}

.comdes {
   font-size: 15px; 
   color: rgb(121,22,62);
   font-weight: bold;
   float: right; 
   padding: 5px 5px; 
  }

.comright {
   font-size: 13px;
   color: rgb(121,22,62);
   font-family: arial; 
   font-weight: bold; 
   text-align: right; 
   margin: 10px; 
}

.timeright {
   font-size: 20px; 
   text-align: right; 
   font-family: arial; 

}

p.backbutton {
   position: relative; 
   left: 680px;  
   top: 50px; 
   display: inline-block;
}


